<h1>Welcome to Bloccit</h1> 
<p> This is the home page for Bloccit.</p>
<%= link_to "Follow me", "http://www.facebook.com/carlosh10", class: "social-btn" %>

  <a class="btn btn-social-icon btn-twitter">
    <i class="fa fa-twitter"></i>
  </a>